{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='{% static "whatTheBinApp/home.js" %}'></script>
    <link rel="stylesheet" href="{% static 'whatTheBinApp/home.css' %}">
    <title>Document</title>
</head>
<body>
    {% csrf_token %}
    <div id="mainDiv">
        <div id="cameraContainer">
            <video id="cameraBox" autoplay></video>
            <canvas id="pictureBox" ></canvas>
        </div>
        <button id="captureButton">Capture</button>

    </div>

</body>
</html>